*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    width: 345px;
    height: 348px;
    position: absolute;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 80px;
    position: relative;

}
.forklift{
    width: 40%; 
    padding-top: 100px;
    /* padding-top: 116px; */
    /* padding-left: 80px; */
}
.text{
    padding-inline: 50px;
}
.farmer-section{
    /* text-align: center; */
    position: relative;
    left: 15%;
    top: 35%;
}
.list-section{
    margin: 80px;
    position: relative;
    top: 24px;
}
 
 
 
