*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body{
  background-color:  hsl(207, 26%, 17%);
  color:  hsl(0, 0%, 100%);
 font-family: Nunito Sans;
 height: 100%;
 transition:all 0.5s;
}
.app{
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
}
.viewCountry{
  margin-left: auto;
  
}
.nav{
  top: 0px;
  position: sticky;
  
}
header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color:  hsl(209, 23%, 22%);
  padding: 10px;
  padding-top: 15px;

}
.searchDiv{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.description{
  display: flex;
  margin: 0px;

}
.ul{
  background-color:  hsl(209, 23%, 22%);
  border: 0px;
  border-radius: 2px;
  height: min-content;
  width: 0;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  color:  hsl(0, 0%, 100%);
  font-size: small;
  line-height: 20px;
  list-style-type: none;
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  transition: all 0.5s;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;
  right: 0%;
  
}
.show-region{
  display: block;
  opacity: 1;
  margin-left: 0px;
  width: 96px;
  right: 10px;
}

li{
  display: flex;
  cursor: pointer;
  font-family: Nunito Sans;
  padding-left: 10px;
  margin: 0px;
}
li:hover{
  background-color: gray;
}
.showul{

  display: block;
  
}
.regionHeading{
  background-color:hsl(209, 23%, 22%) ;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  }
  .rotate{
    rotate: 90deg;
    
}
input{
  height: 30px;
  width: 50% ;
  float: left;
  background-color:  hsl(209, 23%, 22%);
  border: 0px;
  border-radius: 2px;
  padding: 8px;
  color: hsl(0, 0%, 52%);
  margin-left: 10px;
}
.select-region{
  background-color:  hsl(209, 23%, 22%);
  width: max-content;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  gap: 5px;
}
 p span{
  margin-top: 1px;
  
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 66px;
  gap: 30px;
}
.countryName{
font-size: x-large;
font-weight: 700;
width: 100%;
font-family: Nunito Sans;

}
.onElement{
  width: 204px;
}
.element{
  border-radius: 10px;
  display: grid;
  flex-wrap: wrap;
  justify-content: left;
  background-color:hsl(209, 23%, 22%);
  height: 350px;
  width: max-content;
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  color: hsl(0, 0%, 100%);
}
.details{
  display: flex;
  gap: 15px;
}
.countryDetails{
  padding-left: 20px;
}
.country-details{
  font-family: Nunito Sans;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.img{
  width:260px;
  height: 160px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
p{
  font-size: smaller;
}
.population,.region,.capital,.topLevelDomain,.nativeName,.currencies,.languages{
  font-family: Nunito Sans;
  margin-top: 2px;
  margin-left: 10px;
}

.dropdown{
 margin-left: 8px;
 margin-top: 6px;
}
.flag{
  width: 480px;
  height: 280px;
}
.about-country{
  
  flex-wrap: wrap;
  justify-content: center;
}
.country-description{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 40px;
 margin-top: 50px;
 width: fit-content;
margin-left: auto;
margin-right: auto;
}
.secondary-description{
  margin-top: 45px;
  
}
.border-countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  gap: 10px;
 margin-left: auto;
 margin-top: 20px;
}
.borders{
  display: flex;
  gap: 5px;
}
.border-c1{
  background-color:hsl(209, 23%, 22%);
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  border: 0px;
  margin-top: -3px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  color:white;
  cursor:pointer;
  border-radius: 3px;
}

.backdiv{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  
}
.back-btn{

  width: 100px;
  padding: 4px;
  display: flex;
  background-color:hsl(209, 23%, 22%);
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  
}

.back{
  display: flex;
  color: white;
  background-color:hsl(209, 23%, 22%);
  border: 0px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 11px;
  margin-top: -3px;
  gap: 6px;
  height: 26px;
  float: left;
cursor:pointer;
}
.on-display{
  display: flex;
}
.element-display{
  display: grid;

}

.loading-div{
  height: 100%;
  width: min-content;
 margin: auto;
 margin-top: 10%;
 flex-direction: column;
 align-content: center;
}
.loading-div p{
  padding: 0px;
  width: 150px;
  margin-left: 15px;
  margin-top: 10px;
}
.loading{
  margin: auto;
  color: white;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  border-style: dotted ;
  border-width: 10px;
  animation: rotation 2s infinite;
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}
.theBorders{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
 
}
.no-display{
  display: none;
}
.mode{
  cursor: pointer;
  
}
.mode span{
  display: flex;
  gap: 4px;
}
.mode span img{
  margin-top: -4px;
}





/* light mode */
.light-body{
  background: white;
}
.light .img{
  box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, 0.12);
}
.light-search{
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  background-color: #fff;
  color: hsl(0, 0%, 52%);
}
body.light{
  background-color: hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%);
}
.light-header{
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  background-color: #fff; 
}
.light-header div{
  color:hsl(200, 15%, 8%);
}
.light-ul{
  background-color: #fff;
  color:hsl(200, 15%, 8%);
}
.light-element {
  
  background-color: #fff;
}
.light-element a{
  color:hsl(200, 15%, 8%);
}

.light-select-region{
  background-color: #fff;
  color:hsl(200, 15%, 8%);
  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
}
.light-border-c1{

  box-shadow:  0 0px 2px 0 rgba( 0, 0, 0, 0.18);
  background-color: #fff; 
  color:hsl(200, 15%, 8%);
}
.light-back{
  margin-top: -6.5px;
  background-color: #fff; 
  color:hsl(200, 15%, 8%);
  
}
.back span{
  margin-top: -8px;
  font-size: x-large;
}
.light-back a{
  color:hsl(200, 15%, 8%);
}

.light-back-btn{
  box-shadow:  1px 0.5px 1px 0.5px rgba( 0, 0, 0, 0.18);
  background-color: #fff; 
}
a{
  color: white;
text-decoration: none;
}
.light-show-region{
  color:hsl(200, 15%, 8%);
  box-shadow:  1px 0.5px 1px 0.5px rgba( 0, 0, 0, 0.18);
  background-color: #fff; 
}
.light-loading-div{
  color: black;
}


@media (max-width:884px) {
  .loading-div{
    margin-top: 20%;
  }
  .flag{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .details{
    flex-wrap: wrap;
    padding-left: 10px;
    margin-left: 5%;
  }
 .border-countries{
  margin-left: auto;
  margin-right: auto;
 }
 .country-description{
  height: 70%;
 }
}

@media (max-width:450px) {
  .loading-div{
    margin-top: 40%;
  }
  .flag{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .secondary-description{
      margin-top: 50px;
        }
        .details{
          flex-direction: column;
          width: 100%;
          padding: 0px;
          margin-right: auto;
          padding-left: 10px;
          margin-bottom: 20px;
        }
        .border-countries{
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 5px;
        }
        .border-countries span{
          padding-left: 20px;
        }
        .country-description{
          margin: auto;
          gap: 15px;
          margin: 0px;
          margin-top: 20px;
          width: 100%;
        }
        
}